@import '../assets/colors.scss';

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: var(--loginBacgroundColor);
	background-position: center;
	background-size: cover;

	&_loginbox {
		width: 400px;
		height: 600px;
		background-color: #f9f8fb;
		border-radius: 8px;

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		h2 {
			font-size: 40px;
		}

		input {
			width: 250px;
			height: 30px;
			font-size: 18px;
			margin-bottom: 20px;
			border: none;
			padding: 5px;
			padding-left: 20px;
			border-radius: 5px;
			box-shadow: 0px 0px 31px -14px rgb(141 144 175);
			color: #6a6f78;
		}

		.input {
			display: flex;
			flex-direction: column;
		}

		input[type='submit'] {
			height: 50px;
			background-color: royalblue;
			color: white;
			padding: 10px;
			font-size: 20px;
			border-radius: 5px;
			cursor: pointer;
		}

		&_error {
			visibility: hidden;
			color: red;
			font-size: 18px;
			transition: visibility 2s;
		}

		a {
			color: black;
			border-bottom: 1px solid #000;
		}
	}
}

.test {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 10%;
	left: 50%;
	transform: translateX(-50%) translateY(-300%);
	background-color: rgb(0, 0, 0);
	width: 220px;
	height: 70px;
	border: 1px solid rgb(133, 133, 133);
	border-radius: 8px;
	transition: transform 1s;

	p {
		text-align: center;
		color: white;
		font-size: 1.3rem;
	}
}

.active {
	transform: translateX(-50%) translateY(-50%);
}
