.register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: var(--loginBacgroundColor);
	background-position: center;
	background-size: cover;

	&_box {
		height: 600px;
		width: 400px;
		background-color: #f9f8fb;
		border-radius: 8px;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;

			h2 {
				font-size: 40px;
			}

			p {
				text-align: center;
			}

			input {
				width: 250px;
				height: 30px;
				font-size: 18px;
				margin-bottom: 20px;
				border: none;
				padding: 5px;
				padding-left: 20px;
				border-radius: 5px;
				box-shadow: 0px 0px 31px -14px rgb(141 144 175);
				color: #6a6f78;
				// background-color: rgb(226, 226, 226);
			}

			input[type='submit'] {
				width: 200px;
				height: 50px;
				font-size: 20px;
				color: #fff;
				background-color: royalblue;
				border: none;
				border-radius: 5px;
				cursor: pointer;
			}

			input:focus-visible {
				outline: none;
			}


		}
	}
}

.email {
	color: black;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.modal {
	display: none;
}